<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        吃吃食記
      </a>
      <a class="btn btn-primary create-btn" href="/restaurants" role="button">Create</a>
    </div>
  </nav>

  <div class="banner"></div>
</header>